<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas {{mainIconMenu}}"></i>
    </div>
    <div class="sidebar-brand-text mx-3">{{titleMenu}}<sup>{{subtitleMenu}}</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Interface
  </div>

  <!-- Custom Nav Item - Pages Collapse Menu -->
  <li class="nav-item" *ngFor="let item of menuItems">

    <a *ngIf="item.items.length == 0" class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>{{item.title}}</span>
    </a>
    <a *ngIf="item.items.length > 0" class="nav-link collapsed" href="#" 
      data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>{{item.title}}</span>
    </a>

    <div *ngIf="item.items.length > 0" id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
      data-parent="#accordionSidebar">

      <div *ngFor="let subitem of item.items" class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">{{subitem.subTitle}}</h6>
        <a *ngFor="let child of subitem.subItems" class="collapse-item" href="buttons.html">{{child.title}}</a>
      </div>

    </div>
  </li>
  <!-- /custom nav item - pages collapse menu -->
<!--boton -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>

</ul>